.home{
    background-image: url("./img/bg-body.png");
    padding: 0 10px;
}

/* header */
.home header img{
    display: block;
    width: 180px;
    border-radius: 50%;
    border: 2px gray solid;
    /* margin: auto;
    margin-top: 15px !important;
    margin-bottom: 30px !important; */
    margin: 15px auto 30px;
}

.home header li{
    width: 100%;
    background-color: grey;
    margin-bottom:2px ;
    padding: 10px 0;
    text-align: center;

    
}
.home header li:last-child{
    margin-bottom: none;
}

.home header a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
li{
    list-style-type: none;
}

.home button{
    display: block;
    margin: 30px auto;
    background-color: gray;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
}




/* banber */

.home .banner img{
    display: none; 

}


/* products */
.home .producto{
    margin: 30px 0;
    width:100%;

    margin: 30px 0;
}
.home article{
    width: 100%;
    margin-bottom: 30px;

}
.home article img{
    width: 100%;
}
.home article .etiqueta{
    position: absolute;
    width: 70px;
    top: 0;
    right: 10px;
}
.home article .imagen{
    position: relative;

}

.home article .zoom{
    display: block;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    position: absolute ; 
    left: 0px;
    top:45%;

    
    
    text-decoration: none;
    padding: 6px;
}
.home article a.more{
    display: inline-block;
    background-color: grey;
    width: 80px;
    color: white;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    margin: 10px 0 10px;
}
.home article h4,p{
    margin: 10px 0;

}
.home article h4{
    margin-top: 0;
}

/* footer */

.home footer img{
    display: block;
    width: 180px;
    border-radius: 50%;
    border: 2px gray solid;
    /* margin: auto;
    margin-top: 15px !important;
    margin-bottom: 30px !important; */
    margin: 15px auto 30px;
}

.home footer li{
    width: 100%;
    background-color: rgb(180, 51, 47);
    margin-bottom:2px ;
    padding: 10px 0;
    text-align: center;   
}
.home footer li:last-child{
    margin-bottom: none;
}

.home footer a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
li{
    list-style-type: none;
}


@media (min-width: 768px){

    .home button{
        display: none;
    }

    .home header li{
        background-color: grey;
        display: inline-block;
        width: 16.2%;
        border-bottom: none;

        
    }
    .home .banner img{
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;

    }
   
    .home header li:last-child{

    }
    .home article{
        display: inline-block;
        width: 49.6%;
    }


}

@media (min-width: 1024px){

.home article{
    width: 33%;
}
.home header li{
    width: 16.45%;
}
}